.main-content-wrpper {
  padding: 65px;
}

.course-list-conteiner {
  margin: auto;
}

.right-nav {
  width: 250px;
  height: 279px;
  float: right;
  margin-top: 170px;
  margin-right: 20px;
}


.right-nav .right-uui-button {
  margin-left: -1px;
  color: #464547;
  background-color: #fcfcfc;
  text-decoration: none;
  font-family: Source Sans Pro Regular;
  font-size: 18px;

}

.right-uui-button {
  display: block;
  padding: 6px 12px;
  font-size: 20px;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #999;
  background-color: #999;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  height: 27px;
}

.right-uui-button:hover {
  background-color: #f0f2f4;
}

.st-information-wrapper {
  width: 900px;
  height: 500px;
  float: left;
  margin-left: 60px;
  margin-top: -30px;
  border: 1px solid;
}

.st-information {
  width: 800px;
  height: 500px;
  border: 1px solid;
  text-transform: uppercase;
  font-size: 12px;
}

.st-information h1 {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.prifi

.st-description {
  width: 100%;
  height: 250px;
  float: left;
  /*margin-top: -165px;*/
}

.st-description h1 {
  text-align: left;
  margin-left: 70px;
  margin-top: 10px;
}

.st-description .st-comment {
  width: 720px;
  margin-top: 50px;
  padding-right: 12px;
  border: 1px solid;

  text-align: left;
  text-indent: 25px;
  word-wrap: break-word;
  font-size: 18px;
  line-height: 22px;
  font-family: arial, verdana, sans-serif, Lucida Sans;
}
