.td-bg-video {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
}
.td-bg-img {
  display: none;
}

.td-main-content-banner {
  min-width: 100%;
  min-height: 690px;

  background-color: rgba(0, 0, 0, 0.65);
}

.td-main-content-banner-span {
  margin-right: 100px;
  padding: 60px;
  color: rgba(255, 255, 255, 1);
  font-size: 45px;
  font-style: italic;
  font-weight: bolder;
}
