div {
font-family: 'Oswald Regular',Tahoma,sans-serif;
}

html, body {
cursor: default !important;
}

.td-main-content-conteiner {
width: 1250px;
min-height: 900px;

background-color: #fcfcfc;
border-radius: 3px;
-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.td-main-content-conteiner h1 {
text-align: left;
padding: 30px;
float: left;
}

.filters {
text-transform: uppercase;
font-size: 12px;
}

.filters .horizontal-group {
vertical-align: top;
text-transform: none;
float: right;
padding: 30px;
padding-top: 50px;
margin-right: 100px;
}

.horizontal-group {
position: relative;
display: inline-block;
}

.filters .horizontal-group .uui-button {
margin-left: -1px;
color: #464547;
background-color: #fcfcfc;
text-decoration: none;
font-family: Source Sans Pro Regular;
font-size: 18px;
}

.horizontal-group .uui-button {
float: left;
position: relative;
}

.uui-button {
display: inline-block;
padding: 6px 12px;
font-size: 20px;
font-weight: normal;
text-align: center;
vertical-align: middle;
cursor: pointer;
border: 1px solid #999;
background-color: #999;
color: #fff;
border-radius: 0;
box-shadow: none;
height: 27px;
}

.form-filter {
  padding-bottom: 22px;
}

.filters .horizontal-group .uui-button:hover {
  background-color: #f0f2f4;
}
.filters .form-filter {
  width: 100%;
  float: right;
}

.td-group-wrapper {
  height: 700px;
  width: 100%;
  float: right;
}

.td-group-conteiner {
  /*border: 1px solid;*/
  height: 100px;
}

.uui-item-list {
  width: 100%;
  height: 700px;
  list-style: none;
  margin: 0;
  overflow: hidden;
}

.item-body-header {
  width: 100%;
  list-style: none;

  position: relative;
  font-family: 'Source Sans Pro Semibold',Tahoma,sans-serif;
  color: #464547;
  font-size: 16px;
  text-transform: none;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  left: -29px;
}

.uui-item-list .item-body-header .task-item {
  width: 26.3%;
  float: left;
  text-align: left;
  padding-left: 20px;
}

.uui-item-list .item-body-header .start-time-item {
  width: 16.5%;
  float: left;
    text-align: left;
}

.uui-item-list .item-body-header .deadline-item {
  width: 16.1%;
  float: left;
  text-align: left;
}

.uui-item-list .item-body-header .estimate-item {
  width: 16%;
  float: left;
  text-align: left;
}

.uui-item-list .item-body-header .status-item {
  float: left;
  text-align: left;
}

.item-body {
  padding: 0;
  height: 60px;
  table-layout: fixed;
  border-left: none;
  border-right: none;

  margin: -1px 0 0 0;
  position: relative;
  left: -40px;
  display: table;
  width: 100%;
  border: 1px solid #ccc;
}

.item-body a {
  padding-top: 24px;
  padding-bottom: 17px;
  padding-right: 25px;

  text-decoration: none;
}

.item-body a:hover {
  background-color: #f8f8f8;
}

.tk-student-name {
  padding-left: 32px;
  width: 25.2%;

  margin-top: 20px;
  font-size: 16px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 10px;
}

.tk-start-time {
  width: 15%;
  position: relative;
  left: -3px;

  margin-top: 20px;
  font-size: 16px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 10px;
}

.tk-deadline {
  width: 15%;

  margin-top: 20px;
  font-size: 16px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 10px;
}

.tk-estimate {
  width: 15%;

  margin-top: 20px;
  font-size: 16px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 10px;
}

.tk-status {
  width: 19.45%;

  margin-top: 20px;
  font-size: 16px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 10px;
}

.studentTaskUpdate {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  /*display: none;*/
  /*pointer-events: none;*/
}

.studentTaskUpdate:target {
  display: block;
  pointer-events: auto;
}

.studentTaskUpdate > div {
  width: 350px;
  position: relative;
  margin: 10% auto;
  /*padding: 5px 20px 13px 20px;*/
  border-radius: 10px;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.container {
  margin: 80px auto;
  width: 100%;
  /*display: none;*/

}

.taskUpdate {
  position: relative;
  margin: 0px auto 0 auto;
  padding: 20px 20px 20px;
  width: 330px;
  left: -10px;
  top: -20px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.taskUpdate:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.taskUpdate h1 {
  margin: -20px -20px 21px;
  width: 310px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}
.taskUpdate p {
  margin: 20px 0 0;
}
.taskUpdate p:first-child {
  margin-top: 0;
}
.taskUpdate input[type=text], .taskUpdate input[type=password] {
  width: 278px;
}

.taskUpdate input[type=number] {
  width: 40px;
}

.taskUpdate p.submit {
  text-align: right;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

.taskUpdate input {
  font-family: 'oswald-regular',helvetica,sans-serif,arial;
  font-size: 14px;
}

.taskUpdate input[type=text] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
.taskUpdate input[type=text]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

.taskUpdate input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
.taskUpdate input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=text] {
  line-height: 34px;
}
